{{ range $key, $val := .measurements -}}
    {{ $val.configuration.type }}
    {{ range $k, $v := $val.configuration.urls -}}
        {{ if not (connectHttp "GET" $v 200) }}
            {{ warn "test" }}
        {{ end }}
    {{ end }}
{{ end }}
{{ $data := requestHttp "GET" "http://localhost:2379/v2/keys" "" nil }}
{{ $json := $data | fromJson -}}
{{ $json.node | toJson }}
{{ $arr := createArr -}}
{{ range $key, $val := $json.node.nodes -}}
   {{ $arr = pushToArr $arr (index $val "key") -}}
{{ end -}}
{{ $arr | toJson }}
{{ $headers := createMap -}}
{{ $headers = pushToMap $headers "Content-Type" "application/x-www-form-urlencoded" -}}
{{ requestHttp "PUT" "http://localhost:2379/v2/keys/test" (printf "value=%s" ($arr|toJson)) $headers -}}