{{ define "create"}}
    {{ if eq .state "firing" -}}
        {
            "fields": {
                "project":
                {
                    "key": "TEST"
                },
                "summary": "Monitoring {{ .labels.node }} - {{ .labels.alertname }} ({{ .status }})",
                "description": "Сервер {{ .labels.node }} недоступен. Необходимо проверить состояние сервера или удалить его из Etcd.",
                "issuetype": { "id": "10002" }
            }
        }
    {{ end -}}
{{ end -}}
{{ define "update" }}
    {{ if ne .issue.status_id "10002" -}}
        {{ if eq .state "resolved" -}}
            { 
                "update": { 
                    "assignee": [ { "set": { "displayName": "Dmitry" } } ],
                    "comment": [ { "add": { "body": "Задача неактуальна" } } ] 
                } 
            }
        {{ end -}}
    {{ end -}}
{{ end -}}
{{ define "transit" }}
    {{ if ne .issue.status_id "10002" -}}
        {{ if eq .state "resolved" -}}
            { "transition": { "id": "41" } }
        {{ end -}}
    {{ end -}}
{{ end -}}